@model Trader.Models.DashboardFilterModel

@{
    ViewData["Title"] = "Home Page";
}
<h2><span class="glyphicon glyphicon-home" style="padding-right:15px;"></span>Dashboard</h2>


<div>
    <div class="row">
        <div id="example-form">
            <div class="col-md-3">
                <label asp-for="instrumentId" class="control-label"></label>:
                @Html.DropDownListFor(model => model.instrumentId, Model.InstrumentList, "-Instrument-")
            </div>
            <div class="col-md-2">
                <label asp-for="monthNo" class="control-label"></label>:
                @Html.DropDownListFor(model => model.monthNo, Model.Month, "-Month-")
            </div>
            <div class="col-md-3">
                <label asp-for="exchangeId" class="control-label"></label>:
                @Html.DropDownListFor(model => model.exchangeId, Model.ExchangeList, "-Exchange-")
            </div>

            <div class="col-md-2 form-actions no-color">
                <button id="submitFilters" value="Filter" class="btn btn-primary" >Filter
				    <span class="glyphicon glyphicon-repeat" style="padding-left:5px;"></span>
					</button>
				
            </div>

        </div>

    </div>
</div>
<div id="graphs_container" />


@section Scripts {
    <script src="~/js/Chart.min.js"></script>
    <script >
        var container = $("#graphs_container");
        $('#submitFilters').click(function () {
                $.post("/Home/DashboardGraphViewComponent", $('#example-form :input').serialize(), function (data) { container.html(data); });
        })
        $.post("/Home/DashboardGraphViewComponent", $('#example-form :input').serialize(), function (data) { container.html(data); });
   </script>

}


