body {
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

#chart_container {
    display: inline-block;
    padding: 1px;
    width: 400px;
    height: 400px;
    border:1px solid #ddd;
    border-radius: 4px;
}

.stat_container {
    text-align: center;
}

.stat_label {
    padding-right: 7px;
    font-size: 21px;
}

.stat_value {
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel {
    height: 80px;
    margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    padding-bottom: 0px;
    padding-top: 5px;
    position: inherit;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    width: 100%;
    height: 50px;
    background-color: #777;
}

@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: bold;
    }
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next
{
    font-size: 15px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
